<!DOCTYPE html>
<HTML>
	<head>
		<meta charset="utf-8">
		<title>Max's Twitter Clone</title>
		<link rel = "stylesheet" href = "assets/bootstrap.min.css">
	</head>

	<body class = "container">
		<h1>
			Express Twitter
			<a href = "/new-entry" class = "btn btn-primary pull-right">Write in Guestbook</a>
		</h1>
	</body>